################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/backend_sandbox/v16/.suo
/.vs/
/src/rust_scripts/background_worker/target
/src/.vs
/src/rust_scripts/webassembly_worker/target
/src/js_scripts/node_modules
