################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# vs-related files
.vs/
.vscode/
.idea/

# rust-related files
/src/rust_scripts/background_worker/target
/src/rust_scripts/webassembly_worker/target

# node-related files
node_modules/

# zig-related files
zig-cache/
zig-out/
target/

# yolo-related files
runs/

**/*.exe



